* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#counter {
    text-align: center;
}

#counter-text {
    font-size: 5rem;
}

#number {
    font-size: 6em;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.decrease {
    margin-right: 5px;
}

.reset {
    margin-right: 5px;
}

.zero {
    color: black;
}

.minus-two {
    margin: 5px;
}